@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "open Sans";
}

.header {
  display: flex;
  height: 46px;
  align-items: center;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  flex-grow: 1;
}
@media (min-width: 668px) {
  .header {
    display: none;
  }
}

@media (max-width: 668px) {
  .container {
    display: none;
  }
}
@media (min-width: 668px) {
  .container {
    position: fixed;
    left: 0;
    max-width: 250px;
    height: 1024px;
    background-color: #ffffff;
    overflow: hidden;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: #b3b3b3;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  .container__image {
    width: 200px;
    padding-top: 50px;
    padding-left: 24px;
    padding-right: 33px;
    padding-bottom: 45px;
  }
  .container__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 24px;
    padding-right: 30px;
    width: 250px;
    height: 250px;
  }
  .container__nav__ul {
    display: flex;
    flex-direction: column;
    gap: 35px;
    list-style: none;
    flex-grow: 1;
  }
  .container__nav__ul__link {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .container__nav__ul__link a {
    text-decoration: none;
    color: black;
  }
  .container__nav__ul__link__icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}

@media (min-width: 668px) {
  .main {
    position: relative;
    left: 250px;
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    z-index: 0;
  }
}

@media (min-width: 668px) {
  .section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media (min-width: 668px) {
  .section__container {
    height: 50%;
  }
}
.section__container__image {
  opacity: 0.7;
}
@media (min-width: 668px) {
  .section__container__image {
    opacity: 1;
    height: 253px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.section__article {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 2rem;
  flex-wrap: wrap;
  gap: 20px;
}
@media (min-width: 668px) {
  .section__article {
    max-width: 827px;
  }
}
.section__article__header {
  font-size: 27px;
}
.section__article__headersecond {
  font-size: 20px;
}
.section__article__text {
  font-size: 15px;
}

.profile {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 50px;
  margin-bottom: 40px;
}
@media (min-width: 668px) {
  .profile {
    grid-template-columns: repeat(5, 1fr);
    max-width: 827px;
    border-top: 1px solid black;
    padding-top: 40px;
  }
}
.profile__date {
  grid-template-columns: 1;
  display: flex;
  align-items: center;
}
@media (max-width: 935px) {
  .profile__date {
    display: none;
  }
}
.profile__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 668px) {
  .profile__name {
    grid-column: 4;
  }
}
.profile__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  grid-column: 3;
}
@media (min-width: 668px) {
  .profile__image {
    grid-column: 5;
  }
}

.bottom__nav {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.bottom__ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: space-around;
  flex-grow: 1;
}
.bottom__icon__image {
  height: 26px;
  width: 26px;
  border-radius: 50%;
}
@media (min-width: 668px) {
  .bottom {
    display: none;
  }
}

@media (max-width: 668px) {
  .footer {
    display: none;
  }
}
@media (min-width: 668px) {
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 250px;
    background-color: white;
    border-top: 1px solid #b4b4b4;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
  .footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 1190px;
    flex-grow: 1;
  }
  .footer__nav p {
    padding-right: 40px;
  }
  .footer__nav__ul li {
    list-style: none;
    margin: 0 10px;
    display: inline-block;
    padding-left: 40px;
  }
  .footer__nav__ul li a {
    text-decoration: none;
    color: black;
  }
}/*# sourceMappingURL=styles.css.map */