@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    background: white;
    z-index: 10;   
}

#app.header-container-logo {
    padding: 15px;
    
}
.header-container-logo-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px;
}

.header-container-logo-right img {
    width: 22px;
    height:22px;
}

.header-container-logo img {
    width: 113px;
    height: 28px;
}

body {
    margin: 0; 
    padding: 0; 
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98vw;

}

.header-container-logo:hover {
    opacity: 0.7;
}
.header-container-logo-right:hover {
    opacity: 0.7;
}

.explore {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
  }


.explore-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 200px); 
    grid-gap: 2px; 
    
    
}

.explore-images {
    width: 100%; 
    height: 100%; 
    z-index: 1;
    
}

.explore-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}



.container{
    display: block;
    
}


.bottom-nav ul {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    z-index: 10;


}

.bottom-ul li a:hover {
    opacity: 0.7; 
}

.bottom-icon img {
    width: 25px;
    height: 25px;
}

#bottom-icon {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}


@media screen and (min-width: 668px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Raleway', Helvetica, sans-serif;
        min-height: 100vh; 
        position: relative; 
        border-left: 250px solid white
    }
    .explore-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 400px); 
        grid-gap: 5px; 
        
    }

    .header {
        position: relative;
        padding: 20px;
        margin: 20px;
        left: 90px;
        max-width: 90%;
        
     }
     
     .header h1::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px; 
        width: 900px; 
        border-bottom: 2px solid black; 
    }
    
    .explore-images {
        width: 100%; 
        height: 100%; 
    }
    
    .explore-images img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
   

    #app {
        display: none;

    }
    .explore {
        max-width: 1190px;
        height: 74px;
        margin: 0 auto;
        padding: 20px;
        background-color: white;
        margin-left: 0;
        
        
      }
    
    .container-nav {
        top: 0;
        left: 0;
        height: 1397px;
        width: 250px;
        position: fixed;
        display: flex;
        padding: 30px;
        border-right: 1px solid #b3b3b3;
        
    }
    .container-icon {
        width: 25px;
        height: 25px;
        
    }

    .container-nav li {
        list-style: none;
        
    }

    .container-nav li a {
        text-decoration: none;
        color: black;
    }

    .container-nav li:hover{
        opacity: 0.7;
    }
   
    .container-nav-ul img {
        margin-right: 20px;
        margin-top: 40px;
    }
    .container{
        display: block;    

    }

    .explore-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 400px); 
        grid-gap: 5px; 
    }
    
    .explore-images {
        width: 100%; 
        height: 100%; 
    }
    
    .explore-images img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }

    .explore-images:hover {
        opacity: 0.7;
        
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 250px;
        background-color: white;
        z-index: 10;
        border-top: 2px solid #b3b3b3;
        
    }

    .footer-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        margin-left: 100px;
        width: 80%;
    }

    .footer li {
        list-style: none;
        
    }

    .footer-ul li {
        margin: 0 10px;
        display: inline-block;
        padding-left: 40px;  
    }

    .footer a { 
        text-decoration: none;
        color: black;
    }

    .footer a:hover{
        opacity: 0.7;
    }

    #web.header-container-logo {
        height: 33px;
        width: 200px;
        margin-top: 10px;
        padding-right: 35px;

        
    }

    #profile-icon {
        border-radius: 50%;
        height: 25px;
        width: 25px;
        margin-top: 35px;
    }

    
}
     
@media screen and (min-width: 1200px) {
  
    .header h2 {
        font-size: 24px;
    }

}

@media (max-width: 600px) {
    #web {
        display: none;
    }

    #profile-icon {
        display: none;
    }
    
    .explore-images:hover {
        opacity: 0.7;
        
    }

}


@media (max-width: 670px) {
    .container-nav li img.container-icon {
        width: 20px;
        height: 20px;
    }

    #web {
        display: none;
    }


    .explore-images:hover {
        opacity: 0.7;
        pointer-events: auto;

    }
    

    
}