@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700&display=swap');
@media screen and (min-width: 600px){

    header {
        grid-area: header;
    }
    
    .container {
        grid-area: nav;
        background-color: lightblue;
        border-right: 1px solid #B4B4B4;
    }
    
    main {
        grid-area: main;
        background-color: lightcoral;
    
    }
    
    .bottom {
        display: none;
        grid-area: bottom;
        // background-color: lightgreen;
    }
    
    footer {
        grid-area: footer;
        background-color: lightpink;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #B4B4B4;


        ul {
            display: flex;
            gap: 5rem;
            list-style-type: none;

            li {
                
                font-family: 'Raleway';
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                a {
                    text-decoration: none;
                }
            }
        }

        div {
            
            p {
            color: #616161;
            font-family: 'Open Sans';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            }
        }
        
    }
    
    body {
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-template-rows: 90vh 74px;
        grid-template-areas: 
        'nav main'
        'nav footer'
        ;
    }
}

