$primaryColor : #000000;

@mixin flexCenter ($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin primaryFont ($fontSize){
    font-family: 'Raleway';
    font-weight: bold;
    font-size: $fontSize;
}

@mixin border ($color) {
    border: 1px solid $color;
    border-radius: 5px;
    background-color: $color;
}

$secondFont: 'OpenSans';