




// Mobile layout
@media  (max-width: 460px) {

    

    .card-line {
        display: none;
    }

    .card-desktop {
        display: none;
    }


    
    .main-img {
        display: none;
    }

    .container {
        display: none;

    }
   

    }

    .footer {
        display: none;
    }
    


    // Desktop layout
@media (min-width: 451px) {

    
    
    .postgram {
        display: none;
    }
    .react-icons-fi {
        display: none;
    }

    .header-container {
        display: none;
    }
    .mask-group {
        display: none;
    }
    .card-mobile {
        display: none;
    }
    .bottom-nav {
        display: none;
    }
    
    .desktop {
        display: none;
    }

    .overlap {
        display: none;
    }

    .overlap-group {
        display: none;
    }

   

